extends layout

block content
  h3(style='padding: 15px;') Welcome to my home page #{title}
  p(style='padding-left: 20px;')
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus facilisis molestie.
    | Sed eget nisi convallis, dignissim nisi eu, mollis nisl. Suspendisse efficitur magna id lacus
    | placerat faucibus. Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae,
    | varius metus. In et porttitor tortor, consequat lacinia quam. Phasellus mollis sed quam eget efficitur.
    | Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus.
    br
    br
    | Mauris erat turpis, vestibulum eu sapien nec, hendrerit tincidunt neque. Cras sed ultricies magna,
    | ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non. Nullam scelerisque,
    | ipsum et molestie pharetra, risus leo scelerisque odio, sit amet dignissim lectus nisl eu tellus.
    | Mauris efficitur nisl ante. Nunc rutrum ornare risus sed gravida. In velit nisl, rutrum non maximus dignissim,
    | laoreet nec felis.

    br
    br
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus facilisis molestie.
    | Sed eget nisi convallis, dignissim nisi eu, mollis nisl. Suspendisse efficitur magna id lacus
    | placerat faucibus. Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae,
    | varius metus. In et porttitor tortor, consequat lacinia quam. Phasellus mollis sed quam eget efficitur.
    | Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus.
    br
    br
    | Mauris erat turpis, vestibulum eu sapien nec, hendrerit tincidunt neque. Cras sed ultricies magna,
    | ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non. Nullam scelerisque,
    | ipsum et molestie pharetra, risus leo scelerisque odio, sit amet dignissim lectus nisl eu tellus.
    | Mauris efficitur nisl ante. Nunc rutrum ornare risus sed gravida. In velit nisl, rutrum non maximus dignissim,
    | laoreet nec felis.
    br
    br
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus facilisis molestie.
    | Sed eget nisi convallis, dignissim nisi eu, mollis nisl. Suspendisse efficitur magna id lacus
    | placerat faucibus. Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae,
    | varius metus. In et porttitor tortor, consequat lacinia quam. Phasellus mollis sed quam eget efficitur.
    | Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus.
    br
    br
    | Suspendisse est risus, tincidunt eget facilisis at, varius vitae justo. Sed convallis,
    | elit quis ornare scelerisque, magna turpis sagittis justo, vulputate finibus leo dui ac tortor.
    | Cras odio lectus, aliquam ut eleifend id, blandit et nibh. Duis rhoncus lorem a enim bibendum,
    | id congue elit volutpat. Aenean risus ante, viverra at congue ac, pretium ac mi.
    | Nunc sodales non tellus at auctor. Curabitur feugiat vitae velit ac sagittis. Proin ante erat,
    | imperdiet quis justo sit amet, lacinia porttitor tellus. Suspendisse potenti.
    | Pellentesque vulputate eros risus, vitae posuere elit bibendum vel. Nulla non interdum tellus.
    | Cras blandit nulla vel dolor lobortis, sit amet posuere urna sodales.
    | Donec finibus nisl finibus nisl aliquam pellentesque. Sed arcu enim, pretium a dignissim eget, dignissim ut mi.
    br
    br
    | Mauris erat turpis, vestibulum eu sapien nec, hendrerit tincidunt neque. Cras sed ultricies magna,
    | ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non. Nullam scelerisque,
    | ipsum et molestie pharetra, risus leo scelerisque odio, sit amet dignissim lectus nisl eu tellus.
    | Mauris efficitur nisl ante. Nunc rutrum ornare risus sed gravida. In velit nisl, rutrum non maximus dignissim,
    | laoreet nec felis.
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus facilisis molestie.
    | Sed eget nisi convallis, dignissim nisi eu, mollis nisl. Suspendisse efficitur magna id lacus
    | placerat faucibus. Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae,
    | varius metus. In et porttitor tortor, consequat lacinia quam. Phasellus mollis sed quam eget efficitur.
    | Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus.
