extends layout

block content
  link(href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css', rel='stylesheet')
  link(rel='stylesheet', href='/stylesheets/jslide.css')
  .carousel-container
    #featured.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#featured', data-slide-to='0')
        li(data-target='#featured', data-slide-to='1')
        li(data-target='#featured', data-slide-to='2')
        li(data-target='#featured', data-slide-to='3')
      .carousel-inner(role='listbox')
        .carousel-item.active
          img.d-block.img-fluid(src='/images/slide1.jpg', alt='First slide')
          .carousel-caption.d-none.d-block.d-flex.align-items-center(style='height: 100%')
            div

            .text
              h2.slider-caption-title(style='color: #a37700;') Welcome to E.B. Woodcraft
              p.slider-caption-details(style='color: #9b9a98')
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.

        .carousel-item
          img.d-block.img-fluid(src='/images/slide2.jpg', alt='Second slide')
          .carousel-caption.d-none.d-block.d-flex.align-items-center(style='height: 100%')
            div
            .text
              h2.slider-caption-title(style='color: #dbdad9;') Our Story
              p.slider-caption-details(style='color: #FFFFFF;')
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
              a.button.slider-caption-button(href='/about') Learn more
        .carousel-item
          img.d-block.img-fluid(src='/images/slide3.jpg', alt='Third slide')
          .carousel-caption.d-none.d-block.d-flex.align-items-center(style='height: 100%')
            div

            .text
              h2.slider-caption-title Ask us a question
              p.slider-caption-details
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
              a.button.slider-caption-button(href='/#') Ask here

        .carousel-item
          img.d-block.im-fluid(src='/images/slide4.jpg' alt='Fourth slide')
          .carousel-caption.d-none.d-block.d-flex.align-items-center(style='height: 100%')
            div

            .text
              h2.slider-caption-title View Our Product
              p.slider-caption-details
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
              a.button.slider-caption-button(href='/#') View now


      a.carousel-control-prev(href='#featured', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#featured', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

  .container(style='margin: 0px;')
    h3(style='padding: 15px;') Title Head
    p(style='padding-left: 20px;')
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus facilisis molestie.
      | Sed eget nisi convallis, dignissim nisi eu, mollis nisl. Suspendisse efficitur magna id lacus
      | placerat faucibus. Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae,
      | varius metus. In et porttitor tortor, consequat lacinia quam. Phasellus mollis sed quam eget efficitur.
      | Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus.
      br
      br
      | Mauris erat turpis, vestibulum eu sapien nec, hendrerit tincidunt neque. Cras sed ultricies magna,
      | ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non. Nullam scelerisque,
      | ipsum et molestie pharetra, risus leo scelerisque odio, sit amet dignissim lectus nisl eu tellus.
      | Mauris efficitur nisl ante. Nunc rutrum ornare risus sed gravida. In velit nisl, rutrum non maximus dignissim,
      | laoreet nec felis.

      br
      br
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus facilisis molestie.
      | Sed eget nisi convallis, dignissim nisi eu, mollis nisl. Suspendisse efficitur magna id lacus
      | placerat faucibus. Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae,
      | varius metus. In et porttitor tortor, consequat lacinia quam. Phasellus mollis sed quam eget efficitur.
      | Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus.
      br
      br
      | Mauris erat turpis, vestibulum eu sapien nec, hendrerit tincidunt neque. Cras sed ultricies magna,
      | ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non. Nullam scelerisque,
      | ipsum et molestie pharetra, risus leo scelerisque odio, sit amet dignissim lectus nisl eu tellus.
      | Mauris efficitur nisl ante. Nunc rutrum ornare risus sed gravida. In velit nisl, rutrum non maximus dignissim,
      | laoreet nec felis.
      br
      br
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus facilisis molestie.
      | Sed eget nisi convallis, dignissim nisi eu, mollis nisl. Suspendisse efficitur magna id lacus
      | placerat faucibus. Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae,
      | varius metus. In et porttitor tortor, consequat lacinia quam. Phasellus mollis sed quam eget efficitur.
      | Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus.
