doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')

  body
    .header
      .head-container
        .logo-container
          img(src="/images/EBWoodCraftLogo.png", alt="Title")
          .head-container2
          .triangle-left
            .triangle-right
        .head-container3

        //Navigation bar menu
        //Navigation bar menu is set to top most layer.
        .navbar.navbar-expand-lg.navbar-light(style='background-color: #808080; z-index: 99999;')
          a.navbar-brand(href='/') E.B. Woodcraft
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle.navigation')
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='/')
                  | Home
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/services') Services
              li.nav-item
                a.nav-link(href='#') Gallery
              li.nav-item
                a.nav-link(href='/about') About
              li.nav-item
                a.nav-link(href='#') Contact


    block content


    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    footer#hidefooter
      .container
        .row
          .col-sm5
            div
              a(href='/')
                img(src='/images/EBWoodCraftLogo.png', alt='Logo')
              p(style='color: grey')
                | E.B. Woodcraft can custom make any wood product.
          .col-sm-3
            h4 Quick links
            ul
              li
                a(href='/') Home
              li
                a(href='/services') Services
              li
                a(href='/#') Gallery
              li
                a(href='/about') About
              li
                a(href='/#') Contact
          .col-sm-4
            .address
              h4 Contact us
              p
                | Address:
                br
                | 1234 Nort Drive
                br
                | Eagle Point, OR 97501
                br
                br
                | Phone: (541)-XXX-XXX
                br
              a(href='mailto:ebwoodcraft.eric@gmail.com') Email: ebwoodcraft.eric@gmail.com
    #footersub.footer-sub
      .container
        .row(style='word-wrap: break-word;')
          .col-sm6.col-md-4.col-xs-12
            ul
              li
                a(href='/#') Terms of Use
              li
                a(href='/#') Legal Page
          .col-sm6.col-md-4.col-xs-12
            p
              | &copy 2017 E.B. Woodcraft. All Rights Reserved.
