extends layout

block content
  link(rel='stylesheet', href='/stylesheets/services.css')
  .container-services(style='margin-bottom: 250px;')
    .service-header-description
      h1(style: font-size 48px;) Thank you!
    .item-service
      .content-service(style: font-size: 24px;)
        | We appreciate you reaching out to us.
        | We will respond as soon as possible.
