extends layout

block content
  link(rel='stylesheet', href='/stylesheets/jslide.css')
  link(rel='stylesheet', href='/stylesheets/services.css')
  //Picture header for "Our Services"
  .carousel-inner(role='listbox')
    .carousel-item.active
      img.d-block.img-fluid(src='/images/wood1.jpg', alt='First slide')
      .carousel-caption.d-none.d-block.d-flex.align-items-center(style='height: 100%')
        div
        .text
          h2.slider-caption-title(style='color: #a37700;') #{title}
          p.slider-caption-details
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
  //End picture header
  //Body for list of services.
  .container-services
    .service-header-description
      | E.B. Woodcraft offers the best services for your crafting needs.
    .item-service
      .title-service Service 1
      .content-service
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
        | Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae, varius metus. In et porttitor tortor, consequat lacinia quam.
        | Phasellus mollis sed quam eget efficitur. Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus. Mauris erat turpis, vestibulum eu sapien nec,
        | hendrerit tincidunt neque. Cras sed ultricies magna, ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non.
      p
        a(href='/services/service1') Learn more
    .item-service
      .title-service Service 2
      .content-service
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
        | Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae, varius metus. In et porttitor tortor, consequat lacinia quam.
        | Phasellus mollis sed quam eget efficitur. Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus. Mauris erat turpis, vestibulum eu sapien nec,
        | hendrerit tincidunt neque. Cras sed ultricies magna, ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non.
      p
        a(href='/services/service2') Learn more
    .item-service
      .title-service Service 3
      .content-service
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
        | Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae, varius metus. In et porttitor tortor, consequat lacinia quam.
        | Phasellus mollis sed quam eget efficitur. Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus. Mauris erat turpis, vestibulum eu sapien nec,
        | hendrerit tincidunt neque. Cras sed ultricies magna, ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non.
      p
        a(href='/#') Learn more
    .item-service
      .title-service Service 4
      .content-service
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
        | Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae, varius metus. In et porttitor tortor, consequat lacinia quam.
        | Phasellus mollis sed quam eget efficitur. Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus. Mauris erat turpis, vestibulum eu sapien nec,
        | hendrerit tincidunt neque. Cras sed ultricies magna, ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non.
      p
        a(href='/#') Learn more
    .item-service
      .title-service Service 5
      .content-service
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
        | Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae, varius metus. In et porttitor tortor, consequat lacinia quam.
        | Phasellus mollis sed quam eget efficitur. Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus. Mauris erat turpis, vestibulum eu sapien nec,
        | hendrerit tincidunt neque. Cras sed ultricies magna, ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non.
      p
        a(href='/#') Learn more
    .item-service
      .title-service Service 6
      .content-service
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam alias porro vitae quos repudiandae repellat iure explicabo, omnis modi excepturi odio eos natus, quae quia.
        | Nulla auctor fermentum mollis. Phasellus in felis tincidunt, volutpat dui vitae, varius metus. In et porttitor tortor, consequat lacinia quam.
        | Phasellus mollis sed quam eget efficitur. Sed mollis sollicitudin mi, non tempor nulla dapibus dapibus. Mauris erat turpis, vestibulum eu sapien nec,
        | hendrerit tincidunt neque. Cras sed ultricies magna, ac pretium dui. Nullam porttitor pulvinar ante, ultricies gravida felis rhoncus non.
      p
        a(href='/#') Learn more
  //End body for list of services.
