@import "boodstrap.min.css";


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body{
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: #00B7FF;
}

.col-sm4 img{
  margin-left: 150px;
  margin-top: 50px;
  width: 65%;
  height: 40%;
}
